.text-gold {
    color: var(--gold-color) !important;
}

.feature-card_icon {
    background-color: transparent !important;
}

.text-justify {
    text-align: justify !important;
}

.th-counterup .content .counter {
    color: #000 !important;
}