.header-layout3 .menu-area:after,
.th-header .sticky-wrapper.sticky {
    background: #000 !important;
}

.header-layout2 .menu-area:before {
    content: none !important;
}

.header-layout3 .sticky-wrapper {
    background: #000 !important;
}

textarea {
    background-color: var(--smoke-color) !important;
}

/*.widget-area {
    padding-top: 20% !important;
}
@media (max-width: 767px) {
    .widget-area {
        margin-top: 55% !important;
    }
}*/

.header-links li,
.header-links span,
.header-links p,
.header-links a {
    color: #fff !important;
}

.th-btn {
    background-color: var(--gold-color) !important;
    color: #fff !important;
}

.header-layout2 .menu-area:before {
    background-color: #000 !important;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .popupForm {
        max-width: 30% !important;
    }
}

@media (min-width: 1281px) {
    .popupForm {
        max-width: 30% !important;
    }
}